<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <p>值： <span id='value'></span></p>
  <input type='text' onkeyup ='onKeyup(event)'/>
  <script>
    /**优势：
     * 1. Proxy有多达13种拦截方法,不限于apply、ownKeys、deleteProperty、has等等是
     *  Proxy 不仅可以代理对象，也可以代理数组；还可以代理动态增加的属性如 type 
     * 2. Proxy返回的是一个新对象,我们可以只操作新的对象达到目的,而Object.defineProperty只能遍历对象属性直接修改。
     * 缺点：
     * 1. 兼容 polyfill 都无法实现
    */
    const obj = {}
    const newObj = new Proxy(obj, {
      get: function(target, key, receiver) {
        return Reflect.get(target, key, receiver)
      },
      set: function(target, key, value, receiver) {
        if (key === 'value') {
          document.querySelector('#value').innerHTML = value
          document.querySelector('input').value = value
        }
        return Reflect.set(target, key, value, receiver)
      }
    })
    function onKeyup(event) {
      newObj.value = event.target.value
    }

  </script>
</body>
</html>